#allWeapons, #searchWeapons, #addWeapon {
  box-shadow: 2px 2px 2px 0px white;
  border: thin solid white;
  padding: 5em;
  color: white;
  background-image: linear-gradient(to top left, rgb(94, 94, 94), black);
}

#addWeapon {
  color: rgb(188, 255, 188);
}

#searchWeapons {
  color: rgb(190, 190, 255);
}

body {
  background-image: linear-gradient(to bottom right, rgb(94, 94, 94), black);
}

#fileUpload {
  width: 105px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}